xgboost>=2.0.0
pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.4.0

# Model Explainability & Tuning
shap>=0.44.0 # For model interpretability
optuna>=3.6.0 # For model hyperparameter optimization

# Visualization
matplotlib>=3.8.0 
seaborn>=0.13.0 

# Utilities
joblib>=1.3.0